$text: #ffffff;
$color: #db7093;
$button-border: 2px solid #cb3365;
$button-disabled: 2px solid #b74f72;
$shadow: 0 5px 8px #a9a9a9;

.header {
  display: flex;
  height: 15vh;
  width: 100%;
  align-items: center;
  justify-content: center;

  .logo {
    align-self: center;

    p {
      color: $text;
      text-align: center;
      padding: 20px {
        top: 120px;
      }
      font-size: 2em;
      text-shadow:
        1px -1px $color,
        -1px 1px $color;
    }
  }

  .navigation {
    position: absolute;
    left: 0;
    top: 5px;
    display: flex;

    .button:disabled {
      background: #c9b0b0;
      border: $button-disabled;
    }

    .button {
      margin: 5px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background: $color;
      border: $button-border;
      box-shadow: $shadow;
      transition: all 0s ease-in-out;
      cursor: pointer;

      p {
        margin: 10px;
        font-size: 1em;
      }

      &:active {
        transform: (translate(0, 2px));
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
